@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #ece7e7;
  --secondary-color: #888383;
  --primary-component-color: #3b5998;
  --secondary-component-color: #f8f9fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}
